/* default: < 576px */

#header {
	padding-top: 10px;
}

a.navbar-brand {
	margin-top: -10px;
}

a.navbar-brand small {
	display: none
}

#affiliations p:not(:first-child) {
	padding-bottom: 5px;
}

@media only screen and (min-width: 576px) {
	#affiliations p:not(:first-child) {
		padding-bottom: 0;
	}
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	#header {
		padding-top: 15px;
	}
	a.navbar-brand {
		margin-top: -10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	#header {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		padding: 20px;
	}
	h1 {
		margin-top: 20px;
	}
	h4 {
		margin: 10px;
	}
	.propic {
		border-radius: 0;
	}
	.list-unstyled li {
		border-bottom: 1px solid #efefef;
		padding: 15px 0;
	}
	.firsthr {
		visibility: hidden;
	}
	.secicon.fa {
		margin: 10px 0;
	}
	.mobmid {
		text-align: center;
	}
	#affiliations p {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 991px) {
	.container {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 992px) {
	#header {
		padding-top: 30px;
	}
}
