body {
	background: #fff;
	color: #757575;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding: 0px 5vw 0px 4vw;
	/*
    max-width:1500px;
    margin: 0 auto;
    */
}

.c7 {
   clip-path: inset(100%);
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

img {
	max-width: 100%
}

.authors {
	font-family: 'Raleway', sans-serif;
}

a.navbar-brand {
	display: inline-block
}

#propic {
	border-radius: 10px;
}

#propic_container {
	max-width: 200px;
}

#propic_small {
	width: 40px;
	padding-right: 10px;
}

.mobmid hr {
	margin: 10px auto;
}

.publication_list hr {
	margin: 10px auto;
}

ul#tabNavRight {
	display: none;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}

h2 {
	font-size: 1.3em;
	background: #fcfcfc;
	padding: 10px;
}

h3 {
	font-size: 1.4em;
	text-transform: uppercase;
	color: #000;
	margin-top: 0;
}

h4 {
	margin: 15px 0 0;
}

#header h4 {
	margin-bottom: 10px;
}

#header {
	margin-bottom: 20px;
}

p,
a {
	line-height: 1.7em;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 16px;
}

.mainleft .tab-content div:not(.section-header) > p {
	padding-left: 45px;
	text-indent: -30px;
}

.section-header p, .section-header p * {
	line-height: 1.4em;
	font-size: 14px;
}

/* paragraphs containing the affiliation logos */

#affiliations p:not(:first-child) {
	max-width: 200px;
	padding-top: 5px;
}

.social {
	margin-right: 7px;
}

.tab-content .ai, .tab-content .fa {
	margin: 0 3px;
	text-indent: 0;
}

.tab-content .fa.fa-trophy {
	margin-left: 0;
}

.nav-tabs .fa {
	margin-right: 10px;
}

.secicon.fa {
	font-size: 28px;
	color: #000;
	margin-right: 10px;
}

.sub {
	margin-bottom: 15px;
	margin-left: 15px;
}

blockquote {
	font-size: 1em;
	padding: 0 15px;
	margin: 30px 0;
}

#header h4,
.mainleft p,
.mainright p {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

hr#topright {
	clear: both;
	margin: 0;
	margin-top: 44px;
	border-color: #ddd;
}

footer p {
	font-size: 13px;
	margin: 0;
}

footer a {
	font-size: 13px;
	color: #66B;
}

footer a:hover {
	color: #66B;
}

footer {
	padding: 15px 0 0 0;
	font-family: 'Raleway', sans-serif;
}

a.accordion-toggle {
	display: block;
	padding: 10px 15px;
}

div.panel-heading {
	padding: 0;
}

.content {
	padding-top: 15px;
	padding-bottom: 30px;
}

#collapse-tabNavMain {
	margin-bottom: 5px;
}
